body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  width: 70px;
  height: 60px;
  border-radius: 50%;
}
.btn-search{
  border: 1px solid #b45b35;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);

}



.btn-search:hover{
  font-weight: bold;
  background-color: #eee;
}
.undeLine{
  width: 100px;
  background-color: #b45b35;
  height: 2px;

}
.img-card{
  width: 203px;

}
.itemList{
  border-radius: 20px;
}
.paragraph{
  width: 70%;
  color: #444;
}